
// IPHONE 
.iphone-wrap {
	text-align: center;
	position: relative;
	min-height: 500px;
	div {
		background-position: center;
		background-size: cover;
		position: absolute;
		margin: auto;
		left: 0;	right: 0;
	}
	.iphone-icon {
		width: 150px;
		height: 150px;
		top:210px;
		border-radius: 20px;
		box-shadow: 0px 5px 10px  -3px rgba(0,0,0,.4);
		opacity: 0;
	}

	.iphone-screen {
		width: 260px;
		height: 460px;
		top:70px;
		opacity: 0;
	}

	.iphone-wallpaper {
		width: 260px;
		height: 460px;
		background-image: url('../img/devices/device_macbook.png');
		top:70px;
	}
	.iphone-device {
		top:0;
		z-index: 999;
	}
}
.anim-appIcon {
	animation-duration: 80s;
	animation-name: appIcon;
}

.anim-appScreen {
	animation-duration: 80s;
	animation-name: appScreen;
}
@keyframes appScreen {
	0% ,2%{ 
		opacity: 0; 
		transform: scale(1.05);

	}

 	3%, 100%{ 
 		transform: scale(1);
 		opacity: 1; 
 }
}

@keyframes appIcon {
	0%{ 
		opacity: 0; 
		transform: scale(.5);
	}
 	1%, 2%{ 
 		opacity: 1; 
 		transform: scale(1);
 		 }
 	3%, 100% { 
 		opacity: 0; 
 		transform: scale(2);
 }
}




.mockup-wrap {
	text-align: center;
	position: relative;
	margin:auto;
	width:918px;
	height: 656px;
	// border: 1px solid red;
	$width : 700px;
	$height : 436px;
	$padtop : 52px;
	div {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		margin: auto;
		// border: 1px solid green;
		left: 0;	right: 0;
	}
	.mockup-wallpaper {
		width: $width;
		height: $height;
		border-radius: 5px;
		border: 1px solid #222;
		top: $padtop; 
	}
	.mockup-screen {
		width: $width;
		height: $height;
		top: $padtop; 
		opacity: 0;
	}
	.mockup-icon {
		opacity: 0;
		top: 210px; 
		margin:auto;
		width: 132px;
		height: 132px;
		border-radius: 20px;
		box-shadow: 0px 5px 10px  -3px rgba(0,0,0,.4);
	}
	.mockup-device {
		background-size: inherit;
		top: 0; bottom: 0;
		opacity:1;
	}

	
}

.mockup-imac {
	.mockup-device {
		background-image: url('../img/devices/device_imac.png');
	}
}

.mockup-macbook {
	.mockup-device {
		background-image: url('../img/devices/device_macbook.png');
	}
}
.mockup-ipad {
	.mockup-device {
		background-image: url('../img/devices/device_ipad.png');
	}
}
.mockup-iphone {
	.mockup-device {
		background-image: url('../img/devices/device_iphone.png');
	}
}
.mockup-tv {
	.mockup-device {
		background-image: url('../img/devices/device_tv.png');
	}
}