// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);

$gris : #565656;
$rosa : #ecb593;
$azul : #7f7c8c;
$verde : #17bc99;
$amarillo: #f2c40f;


html {padding-top: 50px; }
body{font-family: "Raleway", 'Helvetica', 'Lucida Grande', 'Lucida', sans; }
 
//headings

// [class^="col-"] {
//   padding-left: 0;
//   padding-right: 0;
// }


#admin {
	position: absolute;
	top: 10px; 
	right: 10px;
	font-size: 1.5em;
	opacity: .4;
}

//links
a{
	color :$azul;
}
a:hover {
	color :$rosa;
	text-decoration: none;
}


//buttons 
.btn-success {
	background-color: $verde;
	border: 1px solid rgba(0,0,0,.2);
	&:hover {
		background-color: darken($verde,5);
	}
}


//paragraphs
p {
	color: $gris;
	line-height: 1.7em;
}


//Definition lists

dt{
	color: $gris;
	font-weight: 300;
	//font-weight: .9em;
	margin-top: 10px;

}

#header {
	margin-bottom: 50px;
}


#logo {
	//height: 50px;
	//width: 200px;
	fill:none;
	stroke:$rosa;
	stroke-width:2;
	opacity: 0;
	transition: .4s;
	&:hover {
		//stroke : #444;
		stroke-width:.5;
		opacity: .9;
	}
}

h1.display-1 {
	font-size: 7em;
	font-weight: 100!important;
	border-bottom: 1px solid #cecece;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


// menu
#menu {
	margin-top: 30px;
	padding:0;
	list-style-type: none;
	font-size: 2em;
	li {
		display: inline-block;
		a {
			color :#bdc3c7;
		}
	}
}

.home {
	#menu li a {
		opacity: 0;
		transition : color .4s;
		&:hover {
			color :#444;
		}
	}
	.menu-app {animation: menuFadeIn .2s 1s normal forwards; }
	.menu-ani {animation: menuFadeIn .2s 1.5s normal forwards; }
	.menu-dis {animation: menuFadeIn .2s 2s normal forwards; }
}

@keyframes menuFadeIn {
	from {opacity: 0; }
	to {opacity: 1; }
}


.market-buttons {
	margin-top: 30px;
}

//sections

.section {
	position: relative;
	padding-top: 40px ;
	padding-bottom: 40px ;
	.titulo {
		font-size: 6em;
		font-weight: 100 !important;
		color : rgba(255,255,255,.5);
		width: 20%;
		padding:0!important;
		position: absolute;
		top: 50%;
		height: 140px;
		margin-top: -70px; 
	}
}


// IPHONE 
.iphone-wrap {
	text-align: center;
	position: relative;
	min-height: 500px;
	div {
		background-position: center;
		background-size: cover;
		position: absolute;
		margin: auto;
		left: 0;	right: 0;
	}
	.iphone-icon {
		width: 150px;
		height: 150px;
		top:210px;
		border-radius: 20px;
		box-shadow: 0px 5px 10px  -3px rgba(0,0,0,.4);
		opacity: 0;
	}

	.iphone-screen {
		width: 260px;
		height: 460px;
		top:70px;
		opacity: 0;
	}

	.iphone-wallpaper {
		width: 260px;
		height: 460px;
		background-image: url('../img/devices/macbook.png');
		top:70px;
	}
	.iphone-device {
		top:0;
		z-index: 999;
	}
}
.anim-appIcon {
	animation-duration: 80s;
	animation-name: appIcon;
}

.anim-appScreen {
	animation-duration: 80s;
	animation-name: appScreen;
}
@keyframes appScreen {
	0% ,2%{ 
		opacity: 0; 
		transform: scale(1.05);

	}

 	3%, 100%{ 
 		transform: scale(1);
 		opacity: 1; 
 }
}

@keyframes appIcon {
	0%{ 
		opacity: 0; 
		transform: scale(.5);
	}
 	1%, 2%{ 
 		opacity: 1; 
 		transform: scale(1);
 		 }
 	3%, 100% { 
 		opacity: 0; 
 		transform: scale(2);
 }
}

// MACBOOK

.macbook-wrap {
	text-align: center;
	position: relative;
	min-height: 600px;
	div {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		margin: auto;
		left: 0;	right: 0;
	}
	.macbook-device {
		background-image: url('../img/devices/macbook.png');
		background-size: inherit;
		top: 0; bottom: 0;

	}
	.macbook-wallpaper {
		width: 760px;
		height: 480px;
		border-radius: 5px;
		border: 1px solid #222;
		top: -50px; bottom: 0; 
	}
	.macbook-screen {
		width: 742px;
		height: 464px;
		top: -50px; bottom: 0; 
		opacity: 0;
	}
	.macbook-icon {
		opacity: 0;
		top: -30px; bottom: 0; 
		width: 132px;
		height: 132px;
		border-radius: 20px;
		box-shadow: 0px 5px 10px  -3px rgba(0,0,0,.4);
	}
}


.section-head {
	&#apps {
		background: url('../img/section_app_bg.jpg') ;
	}
	background-color: #444;
	background-position: center center;
	background-size: cover;

	-webkit-box-shadow: inset 0px 0px 64px 13px rgba(0,0,0,0.44);
	-moz-box-shadow: inset 0px 0px 64px 13px rgba(0,0,0,0.44);
	box-shadow: inset 0px 0px 64px 13px rgba(0,0,0,0.44);

	.app-wrap {
		transition: .1s;
		margin-bottom: 20px;
		text-align: center;
	}
	.app-wrap:hover {
		transform: scale(1.05);
			opacity: .95;
	}
		
	.app-title, h1{
		color : #fff;
		margin-top: 20px;
		font-weight: bold;
		text-shadow : 0px 1px 2px rgba(0,0,0,.4);
	}
	.app-icon {
		margin: auto;
		background-position: center;
		background-size: cover;
		width: 160px;
		height: 160px;

		overflow: hidden;
		border-radius: 20px;
		box-shadow: 0px 5px 10px  -3px rgba(0,0,0,.4);
	}
}

.section.section-body{
	.titulo {color : rgba($rosa,.8) ; }
	background: rgba(236,240,241,1);
	background: -moz-linear-gradient(top, rgba(236,240,241,1) 0%, rgba(236,240,241,1) 81%, rgba(212,215,218,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(236,240,241,1)), color-stop(81%, rgba(236,240,241,1)), color-stop(100%, rgba(212,215,218,1)));
	background: -webkit-linear-gradient(top, rgba(236,240,241,1) 0%, rgba(236,240,241,1) 81%, rgba(212,215,218,1) 100%);
	background: -o-linear-gradient(top, rgba(236,240,241,1) 0%, rgba(236,240,241,1) 81%, rgba(212,215,218,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,240,241,1) 0%, rgba(236,240,241,1) 81%, rgba(212,215,218,1) 100%);
	background: linear-gradient(to bottom, rgba(236,240,241,1) 0%, rgba(236,240,241,1) 81%, rgba(212,215,218,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#d4d7da', GradientType=0 );
	
	.anim-wrap {
		margin-bottom: 20px;
		transition: .1s;
	}
	.anim-wrap:hover{
		transform: perspective( 800px ) rotateY( 5deg );
		opacity: .9;
	}

	.anim-image {
		position: relative;
		background-position: center;
		background-size: cover;
		height: 130px;
		border-radius: 4px;
		overflow: hidden;
		box-shadow: 0px 0px 6px rgba(0,0,0,.4) inset;
	}
	.anim-text {

	}

}
	.filmstrip {
		height: 100%;
		opacity: .6;
		display: block;
		margin: auto;
		background: url('../img/filmstrip.png');
		background-size: 100% 100%;
	}

.single-anims{
	p , dd, dt,h1{
		color :#fff;
		text-shadow : 0px 1px 2px rgba(0,0,0,.4);

	}
}
.section.section-footer {
	.titulo {color : rgba(0,0,0,.1) ; }

	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(236,240,241,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(81%, rgba(255,255,255,1)), color-stop(100%, rgba(236,240,241,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(236,240,241,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(236,240,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(236,240,241,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 81%, rgba(236,240,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0f1', GradientType=0 );

	.dis-wrap {
		transition: .1s;
		transform: perspective( 800px ) rotateX( 10deg );
		min-height:295px;
		margin-bottom: 20px;
		text-align: center;
		
	}
	.dis-wrap:hover{
  			transform: perspective( 800px ) rotateX( 15deg );
  			opacity: .9;
  		}

	.dis-image {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 235px;
		border-radius: 5px;
		border: 1px solid rgba(0,0,0,.1);
		overflow: hidden;
		box-shadow: 0px 5px 10px -5px rgba(0,0,0,.4) ;
	}
	.dis-title {
		font-weight: bold;
		&:first-letter {
			text-transform: capitalize;
			
		}
	}

}

.single .app-icon {
	width: 240px;
	height: 240px;
}

.single-dis-cover{
	transform: perspective( 800px ) rotateY( 14deg ) ;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 550px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 5px 14px -5px rgba(0,0,0,.6) ;
}


footer {
	background-color: #ecf0f1;
}



// admin

.admin-container {
	table p {
		margin-bottom: 0;
	}
	h2 {
		font-weight: 100;
		font-size: 4em;
	}
}