@import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,600);
html {
  padding-top: 50px; }

body {
  font-family: "Raleway", 'Helvetica', 'Lucida Grande', 'Lucida', sans; }

#admin {
  position: absolute;
  top: 100px;
  right: 200px;
  font-size: 1.5em;
  opacity: .4;
  z-index: 9999; }

a {
  color: #7f7c8c; }

a:hover {
  color: #ecb593;
  text-decoration: none; }

.btn-success {
  background-color: #17bc99;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .btn-success:hover {
    background-color: #14a587; }

p {
  color: #565656;
  line-height: 1.7em; }

dt {
  color: #565656;
  font-weight: 300;
  margin-top: 10px; }

#header {
  margin-bottom: 50px; }

#logo {
  fill: none;
  stroke: #ecb593;
  stroke-width: 2;
  opacity: 1;
  transition: .4s; }
  #logo:hover {
    stroke-width: .5;
    opacity: .9; }

h1.display-1 {
  font-size: 7em;
  font-weight: 100 !important;
  border-bottom: 1px solid #cecece;
  padding-bottom: 20px;
  margin-bottom: 20px; }

#menu {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
  font-size: 2em; }
  #menu li {
    display: inline-block; }
    #menu li a {
      color: #bdc3c7; }

.home #menu li a {
  opacity: 0;
  transition: color .4s; }
  .home #menu li a:hover {
    color: #444; }
.home .menu-app {
  animation: menuFadeIn .2s 1s normal forwards; }
.home .menu-ani {
  animation: menuFadeIn .2s 1.5s normal forwards; }
.home .menu-dis {
  animation: menuFadeIn .2s 2s normal forwards; }

@keyframes menuFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.market-buttons {
  margin-top: 30px; }

.section {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px; }
  .section .titulo {
    font-size: 6em;
    font-weight: 100 !important;
    color: rgba(255, 255, 255, 0.5);
    width: 20%;
    padding: 0 !important;
    position: absolute;
    left: 25px;
    top: 50%;
    height: 140px;
    margin-top: -70px; }

.iphone-wrap {
  text-align: center;
  position: relative;
  min-height: 500px; }
  .iphone-wrap div {
    background-position: center;
    background-size: cover;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0; }
  .iphone-wrap .iphone-icon {
    width: 150px;
    height: 150px;
    top: 210px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.4);
    opacity: 0; }
  .iphone-wrap .iphone-screen {
    width: 260px;
    height: 460px;
    top: 70px;
    opacity: 0; }
  .iphone-wrap .iphone-wallpaper {
    width: 260px;
    height: 460px;
    background-image: url("../img/devices/macbook.png");
    top: 70px; }
  .iphone-wrap .iphone-device {
    top: 0;
    z-index: 999; }

.anim-appIcon {
  animation-duration: 80s;
  animation-name: appIcon; }

.anim-appScreen {
  animation-duration: 80s;
  animation-name: appScreen; }

@keyframes appScreen {
  0% ,2% {
    opacity: 0;
    transform: scale(1.05); }
  3%, 100% {
    transform: scale(1);
    opacity: 1; } }
@keyframes appIcon {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  1%, 2% {
    opacity: 1;
    transform: scale(1); }
  3%, 100% {
    opacity: 0;
    transform: scale(2); } }
.macbook-wrap {
  text-align: center;
  position: relative;
  min-height: 600px; }
  .macbook-wrap div {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0; }
  .macbook-wrap .macbook-device {
    background-image: url("../img/devices/macbook.png");
    background-size: inherit;
    top: 0;
    bottom: 0; }
  .macbook-wrap .macbook-wallpaper {
    width: 760px;
    height: 480px;
    border-radius: 5px;
    border: 1px solid #222;
    top: -50px;
    bottom: 0; }
  .macbook-wrap .macbook-screen {
    width: 742px;
    height: 464px;
    top: -50px;
    bottom: 0;
    opacity: 0; }
  .macbook-wrap .macbook-icon {
    opacity: 0;
    top: -30px;
    bottom: 0;
    width: 132px;
    height: 132px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.4); }

.section-head {
  background-color: #444;
  background-position: center center;
  background-size: cover;
  -webkit-box-shadow: inset 0px 0px 64px 13px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: inset 0px 0px 64px 13px rgba(0, 0, 0, 0.44);
  box-shadow: inset 0px 0px 64px 13px rgba(0, 0, 0, 0.44); }
  .section-head#apps {
    background: url("../img/section_app_bg.jpg"); }
  .section-head .app-wrap {
    transition: .1s;
    margin-bottom: 20px;
    text-align: center; }
  .section-head .app-wrap:hover {
    transform: scale(1.05);
    opacity: .95; }
  .section-head .app-title, .section-head h1 {
    color: #fff;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }
  .section-head .app-icon {
    margin: auto;
    background-position: center;
    background-size: cover;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.4); }

.section.section-body {
  background: #ecf0f1;
  background: -moz-linear-gradient(top, #ecf0f1 0%, #ecf0f1 81%, #d4d7da 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #ecf0f1), color-stop(81%, #ecf0f1), color-stop(100%, #d4d7da));
  background: -webkit-linear-gradient(top, #ecf0f1 0%, #ecf0f1 81%, #d4d7da 100%);
  background: -o-linear-gradient(top, #ecf0f1 0%, #ecf0f1 81%, #d4d7da 100%);
  background: -ms-linear-gradient(top, #ecf0f1 0%, #ecf0f1 81%, #d4d7da 100%);
  background: linear-gradient(to bottom, #ecf0f1 0%, #ecf0f1 81%, #d4d7da 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#d4d7da', GradientType=0 ); }
  .section.section-body .titulo {
    color: rgba(236, 181, 147, 0.8); }
  .section.section-body .anim-wrap {
    margin-bottom: 20px;
    transition: .1s; }
  .section.section-body .anim-wrap:hover {
    transform: perspective(800px) rotateY(5deg);
    opacity: .9; }
  .section.section-body .anim-image {
    position: relative;
    background-position: center;
    background-size: cover;
    height: 130px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4) inset; }

.filmstrip {
  height: 100%;
  opacity: .6;
  display: block;
  margin: auto;
  background: url("../img/filmstrip.png");
  background-size: 100% 100%; }

.single-anims p, .single-anims dd, .single-anims dt, .single-anims h1 {
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }

.section.section-footer {
  background: white;
  background: -moz-linear-gradient(top, white 0%, white 81%, #ecf0f1 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(81%, white), color-stop(100%, #ecf0f1));
  background: -webkit-linear-gradient(top, white 0%, white 81%, #ecf0f1 100%);
  background: -o-linear-gradient(top, white 0%, white 81%, #ecf0f1 100%);
  background: -ms-linear-gradient(top, white 0%, white 81%, #ecf0f1 100%);
  background: linear-gradient(to bottom, white 0%, white 81%, #ecf0f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ecf0f1', GradientType=0 ); }
  .section.section-footer .titulo {
    color: rgba(0, 0, 0, 0.1); }
  .section.section-footer .dis-wrap {
    transition: .1s;
    transform: perspective(800px) rotateX(10deg);
    min-height: 295px;
    margin-bottom: 20px;
    text-align: center; }
  .section.section-footer .dis-wrap:hover {
    transform: perspective(800px) rotateX(15deg);
    opacity: .9; }
  .section.section-footer .dis-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 235px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.4); }
  .section.section-footer .dis-title {
    font-weight: bold; }
    .section.section-footer .dis-title:first-letter {
      text-transform: capitalize; }

.single .app-icon {
  width: 240px;
  height: 240px; }

.single-dis-cover {
  transform: perspective(800px) rotateY(14deg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 550px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 5px 14px -5px rgba(0, 0, 0, 0.6); }

footer {
  background-color: #ecf0f1;
  padding-top: 15px;
  padding-bottom: 20px; }
  footer .footer-social {
    padding-top: 35px;
    font-size: 2.5em; }
  footer .footer-links {
    padding-top: 20px; }

.admin-container table p {
  margin-bottom: 0; }
.admin-container h2 {
  font-weight: 100;
  font-size: 4em; }

/*# sourceMappingURL=app.css.map */
